.square {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: blue;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 10px;
	line-height: 100px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
}

.square:hover {
	background-color: darkblue;
}

body {
	margin: 0;
	background: pink;
	text-align: center;
}