.square {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: blue;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 10px;
	line-height: 100px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
}


.darkmode {
	position: fixed;
	top: 30px;
	right: 30px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: black;
	align-items: center;
	justify-content: center;
	color: black;
	border-radius: 10px;
}

.square:hover {
	background-color: darkblue;
}

body {
	margin: 0;
	background: white;
	text-align: center;
}

.github {
	background-color: rgb(255, 0, 0);
	position: absolute;
	width: 150px;
	height: 40px;
	margin: auto;
	display: inline-block;
	border-radius: 50px;
}
.github:hover {
	width: 160;
	height: 50;
	
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.normal {
	color:black;
}

.gradient {
	background: linear-gradient(to right, rgb(149, 24, 221), rgb(250, 121, 0));
	background-clip: text;
	color: transparent;
}

h1 {
	position: relative;
	top: -3rem;
	font-size: 5rem;
	font-weight: 900;
	color: black;
	text-align: center;
}

h2 {
	position: absolute;
	font-size: 2.4rem;
}